{
  "ecmaFeatures": {
    "jsx": true,
    "modules": true
  },
  "env": {
    "browser": true,
    "node": true
  },
  "parser": "babel-eslint",
  "extends": "airbnb",
  "rules": {
    "arrow-body-style": 0,
    "consistent-return": 0,
    "func-names": 0,
    "guard-for-in": 0,
    "max-len": 0,
    "new-cap": 0,
    "no-console": [2, { allow: ["info", "debug", "warn", "error"] }],
    "no-else-return": 0,
    "no-param-reassign": [2, {"props": false}],
    "no-return-assign": 0,
    "no-underscore-dangle": 0,
    "no-unused-vars": [2, {
      "var": "all",
      "args": "none",
    }],
    "no-use-before-define": 0,
    "no-var": 0,
    "object-shorthand": 0,
    "padded-blocks": 0,
    "prefer-arrow-callback": 0,
    "quotes": [2, "single"],
    "react/jsx-first-prop-new-line": 0,
    "react/jsx-boolean-value": 0,
    "react/jsx-no-bind": [2, {
      "ignoreRefs": false,
      "allowArrowFunctions": true,
      "allowBind": false,
    }],
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "react/prefer-es6-class": 1,
    "react/prefer-stateless-function": 0,
    "react/react-in-jsx-scope": 2,
    "prefer-const": 0,
    "space-before-function-paren": 0,
    "strict": [2, "never"],
    "vars-on-top": 0,
    "one-var": 0,
  },
  "plugins": [
    "react",
  ],
}
